*{
    margin: 0px;
}

.whole{
    height: 100vh;
}

.center{
    height: 100vh;
    position: absolute;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.flexv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

#canvas001{
    display: none;
}

.top{
    height: 84px;
}

.top .btn{
    z-index: 2;
    position: fixed;
    top: 0;
    border: none;
    box-shadow: 5px 10px 10px #888888;
    border-radius: 50%;
    height:64px;
    width:64px;
    background-image: url("pic/camera.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin:10px auto;
}

.middle{
    top:84px;
    bottom:110px;
}

.middle .iframe{
    overflow: auto;
    width: 100vw;
    border: none;
    background-color: beige;
}

.bottom{
    height: 110px;
}

.bottom #status{
    position: fixed;
    bottom: 84px;
    height: 26px;
}

.bottom .audio{
    position: fixed;
    bottom: 0;
    z-index: 1;
    filter: invert(1);
}

.bottom .btn{
    z-index: 2;
    position: fixed;
    bottom: 0;
    border: none;
    box-shadow: 5px 10px 10px #888888;
    border-radius: 50%;
    height:64px;
    width:64px;
    background-image: url("pic/microphone.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin:10px auto;
}